services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
